/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/** {
  font-size: 1.0rem;
}*/
.no-padding {
  padding: 0;
}

html, body {
  height: 100%;
  background: linear-gradient(lightblue, blue);
} 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grad1 {
  background: blue; /*For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightcyan, cyan); /*For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightcyan, cyan); /*For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightcyan, cyan); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightcyan, cyan); /*Standard syntax (must be last)  */
}
.grad2 {
  background: blue; /*For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightblue, blue); /*For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightblue, blue); /*For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightblue, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightblue, blue); /*Standard syntax (must be last)  */
}

.my-button {
  position: relative;
  height:35px;
  font-size:large;
  font-weight:bold;
}

  .my-button:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    bottom: 2em;
    right: -10em;
    line-height:20px;
    width:350px;
    background-color: #333;
    color: white;
    /* padding: .25em .5em;*/
  }

 
