<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<div class="row">
  <table style="width: 100%;  font-size: 14px; font-weight:bold;">
    <tr style="height:10px;">
      <td style="width: 27%; text-align: center; padding-right:150px;">Name</td>
      <td style="width: 32%; text-align: center; padding-right:175px;">Info</td>
      <td style="width: 13%; text-align: center;">Latitude</td>
      <td style="width: 13%; text-align: center;">Longitude</td>
      <td style="width: 5%; text-align: right; ">Edit</td>
      <td style="width: 5%; text-align: center; ">Del</td>
      <td style="width: 5%; text-align: left; ">Map</td>
    </tr>
  </table>
</div>-->


<div class="row">
  <table style="width: 100%;  font-size: 14px; font-weight:bold; ">
    <tr style="height:10px;">
      <td style="width: 27%;  text-align: center;">Name</td>
      <td style="width: 32%;  text-align: center;">Info</td>
      <td style="width: 13%;  text-align: center;">Latitude</td>
      <td style="width: 13%;   text-align: center;">Longitude</td>
      <td style="width: 5%;  text-align: right;  ">Edit</td>
      <td style="width: 5%;  text-align: center;  ">Del</td>
      <td style="width: 5%; text-align: left;  ">Map</td>
    </tr>
  </table>
</div>
