<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">

  <table class=" " style="width: 100%;  font-size: 14px; ">

    <tr style="height:10px;">
      <th style="width: 27%; text-align: center; ">Name</th>
      <th style="width: 32%; text-align: center; ">Info</th>
      <th style="width: 13%; text-align: center; ">Latitude</th>
      <th style="width: 13%; text-align: center; ">Longitude</th>
      <th style="width: 15%; text-align: center; ">Function</th>
    </tr>

  </table>

</div>
