<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<div class="col-lg-12 container-fluid" style=" ">
  <div class="row" style="  ">
    <table style="width: 100%;">
      <tr style="height: 10px;">
        <td style="width: 25%; text-align:left;">Name</td>
        <td style="width: 40%;">Info</td>
        <td style="width: 10%;">Latitude</td>
        <td style="width: 10%;">Longitude</td>
        <td style="width: 5%;">Edit</td>
        <td style="width: 5%;">Del</td>
        <td style="width: 5%;">Map</td>
      </tr>
    </table>
  </div>
</div>
