<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ng-template #mymodal let-modal class="grad1">
  <div class="modal-body ">
    <h5>{{name}}</h5>
    <agm-map [latitude]='lat' [longitude]='lng' [zoom]="zoom" [mapTypeId]='mapType' [fullscreenControl]='true' [mapTypeControl]='true'>
      <agm-marker [latitude]='lat' [longitude]='lng' [label]='location.title'></agm-marker>
    </agm-map>
    <button class="btn btn-danger" style=" float: right;" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<div class="row  grad1">
  <nav style="text-align:center; align-content:center;" class='container  navbar navbar-expand-sm     center'>
    <div class="search-hero col-lg-5" style="display:inline-block;">
      <input class="form-control" style="width:200px; height:25px; display:inline-block; margin-bottom:10px" type="search" #filterName name="filterName" [(ngModel)]="searchText" placeholder="Search" id="myInput"> &nbsp;
    </div>

    <div class="col-lg-2">
      <a href='{{wikiLink}}' target="_blank" style="text-decoration: underline; color: blue;"><h4>{{formname}}</h4></a>
    </div>

    <div class="col-lg-5">
      <a style="text-decoration: underline; display: inline-block; color: blue;" [routerLink]='["/bcatp/add", formname]'><h5>Create</h5></a>
    </div>
  </nav>
</div>

<section>
  <div class="row content grad1" id="main">
    <app-header class="col-lg-12"></app-header>

    <table class="table grad1 col-lg-12" style="">

      <tr *ngFor="let listItem of this.astring$ | async | filter:searchText |  paginate:  { itemsPerPage: 11, currentPage: page }; let i = index">

        <app-display-data [crib]="listItem" class="  grad1" style="line-height:4px;"></app-display-data>

        <td class="  " style=" width: 15%; line-height:5px;">

          <button style= "vertical-align: top; color: green;" [routerLink]="['/bcatp/edit', formname, listItem.id, listItem.name, listItem.latitude, listItem.longitude]" data-toggle="tooltip" title="Edit">
            <mat-icon>edit</mat-icon>
          </button>

          <button style="vertical-align: top; color: red;" [routerLink]="" (click)="delete(listItem.id, listItem.name)" data-toggle="tooltip" title="Delete">
            <mat-icon>delete</mat-icon>
          </button>

          <button style="vertical-align: top; color: blue; " [routerLink]="" (click)="open(mymodal, listItem.name, listItem.latitude, listItem.longitude, listItem.comment, listItem.wiki )" data-toggle="tooltip" title="Open map">
            <mat-icon> map</mat-icon>
          </button>
          <!--disabled--><!--//Roger for Azure disabled-->
        </td>

      </tr>
    </table>
  </div>
</section>


<footer class="col-lg-12 grad2" style="font-size:x-small;">
  <div class="footer col-lg-12 grad2 " id="footer">
    <div class="row ">
      <div class="col-lg-3  "></div>
      <div class="col-lg-6  ">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
      <div class="col-lg-3  "></div>
    </div>
  </div>
</footer>

