<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ng-template #mymodal let-modal class=" ">
  <div class="modal-body ">
    <h5>{{name}}</h5>
    <agm-map [latitude]='lat' [longitude]='lng' [zoom]="zoom" [mapTypeId]='mapType' [fullscreenControl]='true' [mapTypeControl]='true'>
      <agm-marker [latitude]='lat' [longitude]='lng' [label]='location.title'></agm-marker>
    </agm-map>
    <footer style="float: right; display: block; height:30px; ">
      <button class="btn btn-danger" style=" float: right; margin-top:5px" (click)="modal.close()">Cancel</button>
    </footer>
  </div>
</ng-template>

<div class="row  grad1" style="height:auto;">
  <table style="width: 100%; ">
    <tr>
      <td style="text-align:center; align-content:center;" class='container  navbar navbar-expand-sm     center'>
        <div class="search-hero col-lg-5" style="display:inline-block;">
          <input class="form-control" style="width:200px; height:25px; display:inline-block; margin-bottom:10px" type="search" #filterName name="filterName" [(ngModel)]="searchText" placeholder="Search" id="myInput"> &nbsp;
        </div>

        <div class="col-lg-2">
          <a href='{{wikiLink}}' target="_blank" style="text-decoration: underline; color: blue;"><h4>{{formname}}</h4></a>
        </div>

        <div class="col-lg-5">
          <a style="text-decoration: underline; display: inline-block; color:  blue;" [routerLink]='["/bcatp/add", formname]'><h5>Create</h5></a>
        </div>
      </td>
    </tr>
  </table>
</div>



<!--<div class="col-lg-12 table-responsive grad2">
  <div class="row">-->
<!--<div class="row content grad1" id="main" style="height:auto;">-->
<!--<app-header class="col-lg-12"></app-header>-->
<!--<table class="table grad1  " style="width: 100%; ">
  <thead>
    <tr style="max-height: 10px;">
      <th *ngFor="let header of this.comparablePartyHeadersTrimmed"> {{header}}</th>
    </tr>
  </thead>

  <tr *ngFor="let listItem of this.astring$ | async | filter:searchText |   paginate:  { itemsPerPage: 8, currentPage: page   }; let i = index">-->
<!--<app-display-data [crib]="listItem" class="container-fluid  grad1" style="line-height:4px; width:85%; "></app-display-data>-->
<!--<ng-template *ngIf="listItem.wiki; then showBlock; else notShowBlock"></ng-template>

        <ng-template #showBlock>
          <td style="width: 30%; line-height: 4px;">
            <a href='listItem.wiki' target="_blank" style=" color: blue; text-decoration: underline; padding-left: 20px; word-wrap: break-word">
              {{listItem.name }}
            </a>
          </td>
        </ng-template>

        <ng-template #notShowBlock>
          <td style="line-height: 4px; width: 30%; padding-left: 30px; word-wrap: break-word ">
            {{listItem.name }}
          </td>
        </ng-template>

        <td class="" style="line-height: 4px; width: 36%; font-size: 12px; ">
          {{ listItem.comment }}
        </td>
        <td style="line-height: 4px; width: 10%; word-wrap: break-word;">
          {{ listItem.latitude }}
        </td>
        <td style="line-height: 4px; width: 10%; word-wrap: break-word;">
          {{ listItem.longitude }}
        </td>
        <td style="width:5%; ">
        </td>
        <td style="width: 3%; line-height: 4px; max-height: 10px !important;">
          <button class="  " style="color: green; " [routerLink]="['/bcatp/edit', formname, listItem.id, listItem.name, listItem.latitude, listItem.longitude]" type="submit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="width: 3%; line-height: 4px;">
          <button class="  " style=" color: red;  " [routerLink]="" (click)="delete(listItem.id, listItem.name)" type="submit">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td style="width: 3%; line-height: 4px;">
          <button class="   " style=" color: blue;  " [routerLink]="" (click)="open(mymodal, listItem.name, listItem.latitude, listItem.longitude, listItem.comment, listItem.wiki )" type="submit">
            <mat-icon>map</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>-->
<!--<footer class="col-lg-12 grad2" style="font-size:x-small;">
  <div class="footer col-lg-12 grad2 " id="footer">
    <div class="row ">
      <div class="col-lg-3  "></div>
      <div class="col-lg-6  ">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
      <div class="col-lg-3  "></div>
    </div>
  </div>
</footer>-->
<!--<div class="table-responsive">
 <table class="table grad1 w-auto">
   <thead>
     <tr>
       <th *ngFor="let header of this.comparablePartyHeadersTrimmed"> {{header}}</th>
     </tr>
   </thead>
<tbody>

     <tr class="grad1" *ngFor="let listItem of this.astring$ | async | filter:searchText |   paginate:  { itemsPerPage: 8, currentPage: page   }; let i = index">-->
<!--<app-display-data [crib]="listItem" class="container-fluid  grad1" style="line-height:4px; width:85%; "></app-display-data>-->
<!--<ng-template *ngIf="listItem.wiki; then showBlock; else notShowBlock"></ng-template>

      <ng-template #showBlock>
        <td style="border-style: solid; border-color: red; width: 20%;  ">
          <a href='listItem.wiki' target="_blank" style=" color: blue; text-decoration: underline; padding-left: 20px; word-wrap: break-word">
            {{listItem.name }}
          </a>
        </td>
      </ng-template>

      <ng-template #notShowBlock>
        <td style="border-style: solid; border-color: red;   width: 20%; padding-left: 30px; word-wrap: break-word ">
          {{listItem.name }}
        </td>
      </ng-template>

      <td class="" style="border-style:solid; border-color:red; text-align: left; line-height: 4px; width: 46%; font-size: 12px; ">
        {{ listItem.comment }}
      </td>
      <td style="line-height: 4px; width: 10%; word-wrap: break-word;">
        {{ listItem.latitude }}
      </td>
      <td style="line-height: 4px; width: 10%; word-wrap: break-word;">
        {{ listItem.longitude }}
      </td>
      <td style="width:5%; ">
      </td>
      <td style="width: 3%; line-height: 4px; max-height: 10px !important;">
        <button class="  " style="color: green; " [routerLink]="['/bcatp/edit', formname, listItem.id, listItem.name, listItem.latitude, listItem.longitude]" type="submit">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td style="width: 3%; line-height: 4px;">
        <button class="  " style=" color: red;  " [routerLink]="" (click)="delete(listItem.id, listItem.name)" type="submit">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td style="width: 3%; line-height: 4px;">
        <button class="   " style=" color: blue;  " [routerLink]="" (click)="open(mymodal, listItem.name, listItem.latitude, listItem.longitude, listItem.comment, listItem.wiki )" type="submit">
          <mat-icon>map</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>-->
<!--<footer class="col-lg-12 grad2" style="font-size:x-small;">
  <div class="footer col-lg-12 grad2 " id="footer">
    <div class="row ">
      <div class="col-lg-3  "></div>
      <div class="col-lg-6  ">
        <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div>
      <div class="col-lg-3  "></div>
    </div>
  </div>
</footer>-->



<table class="table table-striped w-auto">

  <thead>
    <tr>
      <th *ngFor="let header of this.comparablePartyHeadersTrimmed"> {{header}}</th>
    </tr>
  </thead>
  <tbody>

    <tr class="grad1" *ngFor="let listItem of this.astring$ | async | filter:searchText |   paginate:  { itemsPerPage: 8, currentPage: page   }; let i = index">
      <!--<app-display-data [crib]="listItem" class="container-fluid  grad1" style="line-height:4px; width:85%; "></app-display-data>-->
      <ng-template *ngIf="listItem.wiki; then showBlock; else notShowBlock"></ng-template>

      <ng-template #showBlock>
        <td style="width: 20%;  ">
          <a href='listItem.wiki' target="_blank" style=" color: blue; text-decoration: underline; padding-left: 20px; word-wrap: break-word">
            {{listItem.name }}
          </a>
        </td>
      </ng-template>

      <ng-template #notShowBlock>
        <td style="width: 20%; padding-left: 30px; word-wrap: break-word ">
          {{listItem.name }}
        </td>
      </ng-template>

      <td class="" style="text-align: left; width: 46%; font-size: 12px; word-wrap: break-word;">
        {{ listItem.comment }}
      </td>
      <td style=" width: 10%; word-wrap: break-word;">
        {{ listItem.latitude }}
      </td>
      <td style=" width: 10%; word-wrap: break-word;">
        {{ listItem.longitude }}
      </td>
      <td style="width:5%; ">
      </td>
 


      <ng-container>
        <td style=" ">
          <button class="  " style="word-wrap: break-word; display: inline-block; color: green; " [routerLink]="['/bcatp/edit', formname, listItem.id, listItem.name, listItem.latitude, listItem.longitude]" type="submit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container>
        <td style=" ">
          <button class="  " style="word-wrap: break-word; display: inline-block; color: red; " [routerLink]="" (click)="delete(listItem.id, listItem.name)" type="submit">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container>
        <td style=" ">
          <button class="   " style="word-wrap: break-word; display: inline-block; color: blue; " [routerLink]="" (click)="open(mymodal, listItem.name, listItem.latitude, listItem.longitude, listItem.comment, listItem.wiki )" type="submit">
            <mat-icon>map</mat-icon>
          </button>
        </td>
      </ng-container>
    </tr>
  </tbody>

</table>
<!--<div class="container">
  <button type="button">Some button</button>
  <button type="button">Button here, too...</button>
  <button type="button">Yet another</button>
  <button type="button">Some button</button>
  <button type="button">Button here, too...</button>
  <button type="button">Yet another</button>
</div>-->
