.truncate-cell {
/*  max-width: 60px;*/ /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

tr:hover {
/*  background-color: #f2f2f2;*/
}

table {
 /* width: 100%;*/ 
 /* table-layout: fixed;*/
/*  margin-left: 14px;
  margin-right: 30px;*/
  font-size: 14px;
  text-overflow: ellipsis;
/*  line-height:5px;*/
 /* border-style:solid;*/
} 

/*tr {
  text-align-last: left;
}*/

/*th {
  height: 10px;
}*/

/* td { 
  height: 7px;
  font-size: 14px;
  font-family: Roboto;
}*/

/*a {
  height: 7px;
  font-size: 14px;
  font-family: Roboto;
}*/
 
